<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <div class="container index">
        <h1>Budgtr</h1>
        <h4>Bank Account: <span><%- helpers.calculateTotal(Budget) %>  </span></h4>
        
        <table>
          <% Budget.forEach((element, index) => { %>
            
            <tr><%- helpers.createTableData(element, index) %> </tr>
            
          <%})%>
        </table>

        <a href="/budgets/new"><button>+</button></a>
    </div>
</body>
</html>