<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <h1>Add New</h1>
        <form action="/budgets" method="POST">
            <input type="text" name="date" placeholder="Date">
            <input type="text" name="name" placeholder="Name">
            <input type="number" name="number" placeholder="Amount">
            <input type="text" name="from" placeholder="From">
            <input type="submit" value="Submit">
            
        </form>


    </div>
</body>
</html>