<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <h1>Add New</h1>
        <a href="/budgets"><button>Back</button></a>
        <div class="formContainer">
              <form action="/budgets" method="POST">
                   <input type="text" name="date" placeholder="Date"><br>
                   <input id="name" type="text" name="name" placeholder="Name"><br>
                   <input type="number" name="amount" placeholder="Amount"><br>
                   <input type="text" name="from" placeholder="From"><br>
                   <input type="text" name="tags[]"  placeholder="tag"><button class="tagButton">+</button><br> 
                   <div class="tagContainer"> </div>
                   <input id="submit" type="submit" value="Submit">
                   
              </form>
        </div>
      


    </div>
</body>
</html>